:root {
  --hover-color: rgba(205, 162, 116, 1);
  --text-color: rgba(41, 47, 54, 1);
  --second-text-color: rgba(77, 80, 83, 1);
  --background-color: rgba(244, 240, 236, 1);
  --btn-text-color: rgba(255, 255, 255, 1);
}
